.nav {
  grid-area: n;
  background-color: #303030;
  padding: 12px 0 10px 0;
}

.item {
  margin: 0 0 5px 0;
  border: 2px solid transparent
}

.item a {
  padding: 3px 0 3px 15px;
  font-size: 19px;
  color: #27b1a4;
  text-decoration: none;
  display: block;
}

.item:hover {
  border-top: 2px solid #27b1a4; 
  border-bottom: 2px solid #27b1a4; 
  color: white;
}

.item a.active {
  font-weight: bold;
  color: #6dd6cc;
}

