.app-wrapper {
  display: grid;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  grid-template-areas: 
  "h h"
  "n c"
  ". c";
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 240px 10fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: c;
  border-radius: 5px;
}

